.carrito-acciones-derecha {
    display: flex;
    gap: 5px;
}
.carrito-acciones-total {
    padding:5px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.carrito-acciones-total p {
        margin-top: auto;
        margin-bottom: auto;
}

.card-agregar, .carrito-acciones-comprar  {
    background-color: #A288A6;
    color:white;
    padding: 5px;
    border:0;
    border-radius:3px;
}

.carrito-acciones-vaciar {
    border: 1px solid #A288A6;
    border-radius:3px;
    padding: 5px;
    color:#A288A6;
    background-color:white;
}

.carrito-producto-imagen {
    width: 4rem;
}

.carrito-producto {
    background-color:#f8f8f8;
    padding:5px;
}

.carrito-producto-borrar {
    border: 1px solid #A288A6;
    border-radius: 3px;
    padding:10px;
    color: #A288A6;
}

.disabled {
    display: none;
}

.container {
    min-height: 50vh;
}

.nav-button {
    background-color: transparent;
    margin:0;
    padding: 0;
    border:0;

}

.nav-button.active {
    border-bottom: 1px solid #A288A6;
    color: #A288A6;
}

.nav-button {
    padding:5px;
    margin-right:10px;
}

h3 {
    font-size: 15px;
}